[submodule "SDK/AssImp"]
	path = SDK/AssImp
	url = https://github.com/assimp/assimp.git
[submodule "SDK/SDL2"]
	path = SDK/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "SDK/SDL2_image"]
	path = SDK/SDL2_image
	url = https://github.com/libsdl-org/SDL_image
